<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="javascripts/jspdf.js"></script>
  <script src="javascripts/jspdf.plugin.from_html.js"></script>
  <script>
    $(function(){
      
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Doctors List</h1>
      <p class="intro"></p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="lastName">Last Name</td>
            <th class="name">Name</td>
            <th class="city">City</td>
            <th class="state">State</td>
            <th class="zip">Zip</td>
          </tr>
        </thead>
        <tbody>
          {{#each doctors}}
          <tr>
            <td class="lastName">{{this.lastName}}</td>
            <td class="name">{{this.name}}</td>
            <td class="city">{{this.city}}</td>
            <td class="state">{{this.state}}</td>
            <td class="zip">{{this.zip}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>